BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: true
PointerAlignment: Right
SortIncludes: Never
